<%= form_with(model: store) do |form| %>
  <% if store.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 1rem">
    <%= form.label :name, 'Nome', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :image, 'Carregar imagem' %>
    <br />
    <%= form.file_field :image %>
  </div>

  <br />

  <% if current_user.admin? && store.user_id.nil? %>
    <div>
      <%= form.label :seller, 'Usuário', style: "display: block" %>
      <%= form.collection_select :user_id, @sellers, :id, :email, prompt: "Vendedores..." %>
    </div>
  <% end %>


  <div style="margin-top: 1rem">
    <%= form.submit  %>
  </div>
<% end %>
