<%= form_with(model: store, html: { class: 'styled-form' }) do |form| %>
  <% if store.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 1rem">
    <%= form.label :name, 'Nome', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :image, 'Carregar imagem' %>
    <br />
    <%= form.file_field :image %>
  </div>

  <div style="margin-bottom: 1rem">
    <%= form.label :category, 'Categoria', style: "display: block" %>
    <%= form.select :category, Store.categories.keys.map { |category| [I18n.t("categories.store.#{category}"), category] }, prompt: "Selecione uma categoria" %>

  </div>

  <div style="margin-bottom: 1rem">
    <%= form.label :description, 'Descrição', style: "display: block" %>
    <%= form.text_area :description %>

  </div>


  <br />

  <% if current_user.admin? && store.user_id.nil? %>
    <div>
      <%= form.label :seller, 'Usuário', style: "display: block" %>
      <%= form.collection_select :user_id, @sellers.kept, :id, :email, prompt: "Vendedores..." %>
    </div>
  <% end %>


  <div style="margin-top: 1rem">
    <%= form.submit %>
  </div>
<% end %>
