<div id="<%= dom_id store %>">
  <h2>Dados da loja</h2>
  
  <% if store.image.attached? %>
    <%= link_to image_tag(store.image.variant(:thumb)), store.image %>
  <% else %>
    <p>Imagem não disponível</p>
  <% end %>

  <p>
    <strong>Nome:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Usuário:</strong>
    <%= store.user.email %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= I18n.t("categories.#{store.category}") %>
  </p>

  <div style="display: flex; gap: 10px; align-items: center">
    <p>
      <strong>Status: </strong>
      <%= store.active ? 'Ativa' : 'Desativada' %>
    </p>

    <% if store.active %>
      <%= button_to 'Desativar loja', toggle_active_store_path(store), method: :patch %>
    <% else %>
      <%= button_to 'Ativar loja', toggle_active_store_path(store), method: :patch %>
    <% end %>
  </div>
    
</div>
