<div class="corner-space">
  <%= link_to "Página inicial", root_path %>

  <p style="color: green"><%= notice %></p>

  <h1>Lojas cadastradas</h1>

  <div style="display: flex">
    <%= link_to "Criar loja", new_store_path, class: "link-button" %>
    <%= link_to "Gerenciar lojas excluídas", discarded_stores_path, class: "link-button", style: "background: #E53935" %>
  </div>

  <div id="stores">
    <% if current_user.admin?%>
      <% @stores_by_user.each do |user, stores| %>
        <div class="user-stores">
          <h2><%= user.email %></h2>
        
          <% stores.each do |store| %>
            <div class="stores-list">
              <p>
                <strong>Nome:</strong>
                <%= store.name %>
              </p>
              <p>Status: <%= store.active ? 'Ativa' : 'Desativada' %></p>
              <p>
                <%= link_to "Mostrar loja", store %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>


</div>