<div class="corner-space">
  <p style="color: green"><%= notice %></p>

  <%= render @store %>

  <div style="display: flex; flex-direction: column; gap: 10px">
    <div style="display: flex; gap: 5px">
      <%= link_to "Editar", edit_store_path(@store) %> |
      <%= link_to "Voltar para lojas", stores_path %>
    </div>

    <%= button_to "Excluir loja", @store, method: :delete %>
  </div>

  <hr>

</div>