<div class="corner-space">
  <p style="color: green"><%= notice %></p>

  <%= render @store %>

  <div style="display: flex; flex-direction: column; gap: 10px">
    <div style="display: flex; gap: 5px">
      <%= link_to "Editar", edit_store_path(@store) %> |
      <%= link_to "Voltar para lojas", stores_path %>
    </div>

    <%= button_to "Excluir loja", @store, method: :delete, class: 'delete-button', form: { data: { turbo_confirm: "Tem certeza que deseja excluir?" } }%>
  </div>

  <hr>

  <h2>Produtos</h2>
  <div style="margin-top: 20px">
    <%= link_to 'Adicionar produto', new_store_product_path(@store), class: "link-button" %>
  </div>

  <div>
    <% @store.products.kept.each do |product| %>
      <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
        <h3><%= product.title %></h3>
        <h3>Preço: <%= number_to_currency(product.price) %></h3>
        <h3><%= product.description %></h3>

        <div style="display: flex; gap: 10px;">
          <%= link_to 'Visualizar', store_product_path(@store, product), class: "button" %>
          <%= link_to 'Editar', edit_store_product_path(@store, product), class: "button" %>
         
        </div>

      </div>

    <% end %>
  </div>

</div>