<div class="corner-space">
  <h1>Deliver me admin</h1>

  <p style="color: green"><%= notice %></p>
  <p style="color: red"><%= alert %></p>

  <% if current_user %>
    <p>Logado como: <strong><%= current_user.email %></strong></p>
    <p>Papel: <%= current_user.role %></p>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>

    <hr>

    <% if current_user.admin? %>
      <div style="display:flex; flex-direction: column; gap:10px">
        <%= link_to "Gerenciamento de lojas", stores_path%>
        <%= link_to "Gerenciamento de usuários", users_path%>
        <%= link_to "Gerenciamento de pedidos", stores_path%>
      </div>
      
      
      <p>List all products: <%=link_to "Listing", listing_path%></p>
    <% end %>

  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>