<div class="corner-space">
  <%= link_to "Página inicial", root_path %>
  
  <h1>Pedidos</h1>

  <p style="color: green"><%= notice %></p>

  <div style="display: flex">
    <%= link_to "Criar pedido", new_order_path, class: "link-button" %>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID do Pedido</th>
        <th>Comprador</th>
        <th>Loja</th>
        <th>Status</th>
        <th>Data de Criação</th>
        <th>Itens do Pedido</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.buyer.email %></td>
          <td><%= order.store.name %></td>
          <td><%= order.state %></td>
          <td><%= order.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td>
            <ul>
              <% order.order_items.each do |item| %>
                <li>
                  <strong>Produto:</strong> <%= item.product.title %> |
                  <strong>Quantidade:</strong> <%= item.amount %> |
                  <strong>Preço:</strong> <%= number_to_currency(item.price) %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
</style>