<div class="corner-space">
  <h1>Dados do produto</h1>

  <% if @product.image.attached? %>
    <%= link_to image_tag(@product.image.variant(:thumb)), @product.image %>
  <% else %>
    <p>Imagem não disponível</p>
  <% end %>

  <p>
    <strong>Título:</strong>
    <%= @product.title %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= number_to_currency(@product.price) %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @product.category.humanize %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @product.description %>
  </p>

  <div style="display: flex; gap: 10px; align-items: center">
    <p>
      <strong>Status: </strong>
      <%= @product.active ? 'Ativo' : 'Desativado' %>
    </p>

    <% if @product.active %>
      <%= button_to 'Desativar produto', toggle_active_store_product_path(@store, @product), method: :patch %>
    <% else %>
      <%= button_to 'Ativar produto', toggle_active_store_product_path(@store, @product), method: :patch %>
    <% end %>
  </div>

  
  <div style="display: flex; gap: 10px;">
    <%= link_to 'Editar', edit_store_product_path(@store, @product), class: "button" %>
    
    <%= button_to 'Excluir', store_product_path(@store, @product), method: :delete, class: 'delete-button', form: { data: { turbo_confirm: 'Tem certeza que deseja excluir?' } }  %>
  </div>

  <div>
    <%= link_to "Voltar para loja", store_path(@store.id) %>
  </div>

</div>